:root {
  --white: #ffffff;
  --blue: rgb(33, 106, 154);
}

body {
  font-family: sans-serif;
}

*:focus {
  outline: 2px solid var(--blue);
}

*::selection {
  background-color: var(--blue);
  color: var(--white);
}

h1,
h2 {
  line-height: 1.2;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
